@import "tailwindcss";
@plugin "daisyui";

:root {
    --color-active: oklch(29% 0.066 243.157);
}

.menu {
    --menu-active-bg: var(--color-active);
}

.title-table{ 
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

th{
    font-family: 'Raleway', Courier, monospace;
    font-weight: 300;
}