@import "tailwindcss";
@plugin "daisyui" {
  themes: [ "Blues"];
}
@plugin "daisyui/theme" {
  name: "Blues";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #193db7;
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(93% 0.034 272.788);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(60% 0.234 29.234);
  --color-error-content: oklch(97% 0.014 254.604);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --font-sans: "Montserrat";
}


@layer utilities {
  .after-line {
    position: relative;
  }
  .after-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1.5px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .after-line:hover::after {
    width: 80%;
    left: 10%;
  }

  .btn-custom-reader {
    position: fixed;
    top: 50vh;
    right: 0;
    padding: 1em 0.5em;
    writing-mode: sideways-lr;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  .anim-slide-down {
    animation: slide-down 0.5s ease-in-out;
  }

  .button {
    font-family: "Raleway", sans-serif;
  }

  td {
    font-size: medium;
    font-family: "Raleway", sans-serif;
  }

  .menu {
    &,
    &:active {
      --color-neutral: var(--color-primary-content);
      --color-neutral-content: var(--color-primary);
    }
  }

  .navbar-menu .menu:active {
    --color-neutral: var(--color-primary);
    --color-neutral-content: var(--color-primary-content);
  }

  .button {
    font-family: "Raleway", sans-serif;
  }

  td {
    font-size: medium;
    font-family: "Raleway", sans-serif;
  }

  #sidebar li {
    padding-bottom: 0.2rem;
  }

  #button-sidebar {
    position: relative;
    display: inline-block;
  }

  #button-sidebar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: width 0.4s ease-in-out;
  }

  #button-sidebar:hover::after {
    width: 100%;
  }

  #button-sidebar-children:active {
    background-color: var(--color-base-100);
    color: var(--color-primary);
  }

  #editNormativeModal {
    position: fixed;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
    overflow-x: auto;
    overflow-y: auto;

 
    width: calc(100% - 240px); 
    height: calc(100% - 72px); 
    max-width: 60%; 
    max-height: 80%; 

  
    top: calc(50% + 36px);
    left: calc(50% + 120px); 
    transform: translate(-50%, -50%);
  }
}
@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  * {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(237, 237, 237);
  }
  .no-spinner {
    appearance: none; 
    -moz-appearance: textfield; 
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.rpv-default-layout__toolbar {
  z-index: 0 !important;
}